.container {
  display: flex;
  height: 100vh;
}

.leftPane {
  flex: 1;
  background: linear-gradient(135deg, #001691, #6e6cd5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  h1 {
    font-size: 48px;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 20px;
    color: #c5c5c5;
  }
}

.rightPane {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f5f5f5;
}

.card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
